/* src/pages/GroupsPage.css */

.groups-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.group-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.2s ease-in-out;
}

.group-card h2 {
  margin-top: 0;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.group-card:hover {
  transform: translateY(-5px);
}

.group-teams-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  
  gap: 1rem;
  justify-items: center; 
}